<% provide(:title, 'Sign Up') %>
<h1 class="h1_title">Sign Up</h1>
<div class="row">
	<div class="span6 offset3">
	<%= form_for(@user) do |f| %>
		<%= render 'fields', f: f %>
		<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
	<% end %>
	</div>
</div>